# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the enitre vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
/docker/huggingface
api/output
huggingface_all/hub/.locks/models--facebook--encodec_32khz/0e78f34d2ff3259f29bd51f7a99060151fe4ba5776fee216f58847f06082f1ca.lock
huggingface_all/hub/.locks/models--facebook--encodec_32khz/a3afdfeea41110680bc7d73b31bd3832cffd472b.lock
huggingface_all/hub/.locks/models--facebook--multiband-diffusion/2df3fff4035c7e3be1e6b3b1dc3268a79d03238b17877e29a1dd62e4407f022c.lock
huggingface_all/hub/.locks/models--facebook--musicgen-large/1f0cf17b5e65c5dd8ba71767371c377f174e4ce1db44bc4d6657825769f26ffd.lock
huggingface_all/hub/.locks/models--facebook--musicgen-large/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30.lock
huggingface_all/hub/.locks/models--facebook--musicgen-medium/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30.lock
huggingface_all/hub/.locks/models--facebook--musicgen-medium/fbc9f401db2aba7518adf208ce5a56aca4ece335242e8274ce1ebd3dfbc86cf5.lock
huggingface_all/hub/.locks/models--facebook--musicgen-melody/4dda87e5dfafc1b59351131d9610002b06fbecc50793a0e3c8ab2e534176cd7f.lock
huggingface_all/hub/.locks/models--facebook--musicgen-melody/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30.lock
huggingface_all/hub/.locks/models--facebook--musicgen-melody-large/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--facebook--musicgen-melody-large/a5cd1a73ccbaa3384546756cf5caf0dcce5bd4185c3386962dcbf1a3d5207dff.lock
huggingface_all/hub/.locks/models--facebook--musicgen-small/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30.lock
huggingface_all/hub/.locks/models--facebook--musicgen-small/830fe5771e2835cbd305f3ffdda22d3ff38718fbbe8274bd19dc203265de7244.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-large/8c48998345be88a26fd5aab474033492a63a9511d0a5c256924d3b173cc303f4.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-large/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-medium/8ff5720393cd2b5cd1e9f2acb6050fb5211ed308544e36f8dbdd7d61a10c86e9.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-medium/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-melody/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-melody/84ae723b002062949c69a6ae3165468c077ddf5d57fa3a183333a91d14572cb4.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-melody-large/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-melody-large/bc1f5c35f48aa4cc26794e5ec12fa2cce4d6bc94b5994f5307a5e60dcb8d98c8.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-small/4b2a5fd7544ce68f1f3576871697ee459b7a237488e352da2db073c84bd3be65.lock
huggingface_all/hub/.locks/models--facebook--musicgen-stereo-small/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7.lock
huggingface_all/hub/.locks/models--t5-base/4e28ff6ebdf584f5372d9de68867399142435d9a.lock
huggingface_all/hub/.locks/models--t5-base/41911369be79611d82d152725113e66206bd7b79.lock
huggingface_all/hub/.locks/models--t5-base/a90903540cc02cbeb7ff9f823f1a80eb778c7e22426a0e620b01c77a5ec8f5b4.lock
huggingface_all/hub/.locks/models--t5-base/c360f5f4046ca9d7f2ea7d098126ecabc596fbe5.lock
huggingface_all/hub/models--facebook--encodec_32khz/blobs/0e78f34d2ff3259f29bd51f7a99060151fe4ba5776fee216f58847f06082f1ca
huggingface_all/hub/models--facebook--encodec_32khz/blobs/a3afdfeea41110680bc7d73b31bd3832cffd472b
huggingface_all/hub/models--facebook--encodec_32khz/refs/main
huggingface_all/hub/models--facebook--encodec_32khz/snapshots/d0c45384f6c44db055f78200cfdcb9c1c8706727/config.json
huggingface_all/hub/models--facebook--encodec_32khz/snapshots/d0c45384f6c44db055f78200cfdcb9c1c8706727/model.safetensors
huggingface_all/hub/models--facebook--multiband-diffusion/blobs/2df3fff4035c7e3be1e6b3b1dc3268a79d03238b17877e29a1dd62e4407f022c
huggingface_all/hub/models--facebook--multiband-diffusion/refs/main
huggingface_all/hub/models--facebook--multiband-diffusion/snapshots/62daf9743d37c54e13366e396241a476908ecad7/mbd_musicgen_32khz.th
huggingface_all/hub/models--facebook--musicgen-large/blobs/1f0cf17b5e65c5dd8ba71767371c377f174e4ce1db44bc4d6657825769f26ffd
huggingface_all/hub/models--facebook--musicgen-large/blobs/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30
huggingface_all/hub/models--facebook--musicgen-large/refs/main
huggingface_all/hub/models--facebook--musicgen-large/snapshots/15ccdc92099879e47b6da12c350cdb71d4eab3ca/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-large/snapshots/15ccdc92099879e47b6da12c350cdb71d4eab3ca/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-medium/blobs/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30
huggingface_all/hub/models--facebook--musicgen-medium/blobs/fbc9f401db2aba7518adf208ce5a56aca4ece335242e8274ce1ebd3dfbc86cf5
huggingface_all/hub/models--facebook--musicgen-medium/refs/main
huggingface_all/hub/models--facebook--musicgen-medium/snapshots/d3bd7b00761b78ad7a8a05145ee31e7832e9916c/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-medium/snapshots/d3bd7b00761b78ad7a8a05145ee31e7832e9916c/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-melody/blobs/4dda87e5dfafc1b59351131d9610002b06fbecc50793a0e3c8ab2e534176cd7f
huggingface_all/hub/models--facebook--musicgen-melody/blobs/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30
huggingface_all/hub/models--facebook--musicgen-melody/refs/main
huggingface_all/hub/models--facebook--musicgen-melody/snapshots/68d653a95788ec0d2b0abccab22c0b3a200c2d90/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-melody/snapshots/68d653a95788ec0d2b0abccab22c0b3a200c2d90/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-melody-large/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-melody-large/blobs/a5cd1a73ccbaa3384546756cf5caf0dcce5bd4185c3386962dcbf1a3d5207dff
huggingface_all/hub/models--facebook--musicgen-melody-large/refs/main
huggingface_all/hub/models--facebook--musicgen-melody-large/snapshots/6fdf8d3d815995108c9bdb5183414ff464b171ac/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-melody-large/snapshots/6fdf8d3d815995108c9bdb5183414ff464b171ac/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-small/blobs/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30
huggingface_all/hub/models--facebook--musicgen-small/blobs/830fe5771e2835cbd305f3ffdda22d3ff38718fbbe8274bd19dc203265de7244
huggingface_all/hub/models--facebook--musicgen-small/refs/main
huggingface_all/hub/models--facebook--musicgen-small/snapshots/4c8334b02c6ec4e8664a91979669a501ec497792/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-small/snapshots/4c8334b02c6ec4e8664a91979669a501ec497792/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-large/blobs/8c48998345be88a26fd5aab474033492a63a9511d0a5c256924d3b173cc303f4
huggingface_all/hub/models--facebook--musicgen-stereo-large/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-stereo-large/refs/main
huggingface_all/hub/models--facebook--musicgen-stereo-large/snapshots/bda8ec330c9c17e09728589eaf678f58f7d2d932/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-large/snapshots/bda8ec330c9c17e09728589eaf678f58f7d2d932/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-medium/blobs/8ff5720393cd2b5cd1e9f2acb6050fb5211ed308544e36f8dbdd7d61a10c86e9
huggingface_all/hub/models--facebook--musicgen-stereo-medium/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-stereo-medium/refs/main
huggingface_all/hub/models--facebook--musicgen-stereo-medium/snapshots/2747e613fbaadc43b14257224326ef58c5c11b81/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-medium/snapshots/2747e613fbaadc43b14257224326ef58c5c11b81/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-melody/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-stereo-melody/blobs/84ae723b002062949c69a6ae3165468c077ddf5d57fa3a183333a91d14572cb4
huggingface_all/hub/models--facebook--musicgen-stereo-melody/refs/main
huggingface_all/hub/models--facebook--musicgen-stereo-melody/snapshots/022c3bd20a7d77e7c014082f0391bcbcd3940a7a/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-melody/snapshots/022c3bd20a7d77e7c014082f0391bcbcd3940a7a/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-melody-large/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-stereo-melody-large/blobs/bc1f5c35f48aa4cc26794e5ec12fa2cce4d6bc94b5994f5307a5e60dcb8d98c8
huggingface_all/hub/models--facebook--musicgen-stereo-melody-large/refs/main
huggingface_all/hub/models--facebook--musicgen-stereo-melody-large/snapshots/eea14861e6c29c47aea1055982a217468cd1634d/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-melody-large/snapshots/eea14861e6c29c47aea1055982a217468cd1634d/state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-small/blobs/4b2a5fd7544ce68f1f3576871697ee459b7a237488e352da2db073c84bd3be65
huggingface_all/hub/models--facebook--musicgen-stereo-small/blobs/43c990a49a2c179f5d1a084db79f62a06384c186b4afc134c4eb49a8297a06a7
huggingface_all/hub/models--facebook--musicgen-stereo-small/refs/main
huggingface_all/hub/models--facebook--musicgen-stereo-small/snapshots/3a110c0092820d470372c880c5ea06ce21a78ddd/compression_state_dict.bin
huggingface_all/hub/models--facebook--musicgen-stereo-small/snapshots/3a110c0092820d470372c880c5ea06ce21a78ddd/state_dict.bin
huggingface_all/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/added_tokens.json
huggingface_all/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/chat_template.jinja
huggingface_all/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/special_tokens_map.json
huggingface_all/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/tokenizer_config.json
huggingface_all/hub/models--t5-base/blobs/4e28ff6ebdf584f5372d9de68867399142435d9a
huggingface_all/hub/models--t5-base/blobs/41911369be79611d82d152725113e66206bd7b79
huggingface_all/hub/models--t5-base/blobs/a90903540cc02cbeb7ff9f823f1a80eb778c7e22426a0e620b01c77a5ec8f5b4
huggingface_all/hub/models--t5-base/blobs/c360f5f4046ca9d7f2ea7d098126ecabc596fbe5
huggingface_all/hub/models--t5-base/refs/main
huggingface_all/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/config.json
huggingface_all/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/model.safetensors
huggingface_all/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/spiece.model
huggingface_all/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/tokenizer.json
huggingface_tiny/hub/.locks/models--facebook--multiband-diffusion/2df3fff4035c7e3be1e6b3b1dc3268a79d03238b17877e29a1dd62e4407f022c.lock
huggingface_tiny/hub/.locks/models--facebook--musicgen-small/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30.lock
huggingface_tiny/hub/.locks/models--facebook--musicgen-small/830fe5771e2835cbd305f3ffdda22d3ff38718fbbe8274bd19dc203265de7244.lock
huggingface_tiny/hub/.locks/models--t5-base/4e28ff6ebdf584f5372d9de68867399142435d9a.lock
huggingface_tiny/hub/.locks/models--t5-base/41911369be79611d82d152725113e66206bd7b79.lock
huggingface_tiny/hub/.locks/models--t5-base/a90903540cc02cbeb7ff9f823f1a80eb778c7e22426a0e620b01c77a5ec8f5b4.lock
huggingface_tiny/hub/.locks/models--t5-base/c360f5f4046ca9d7f2ea7d098126ecabc596fbe5.lock
huggingface_tiny/hub/models--facebook--multiband-diffusion/blobs/2df3fff4035c7e3be1e6b3b1dc3268a79d03238b17877e29a1dd62e4407f022c
huggingface_tiny/hub/models--facebook--multiband-diffusion/refs/main
huggingface_tiny/hub/models--facebook--multiband-diffusion/snapshots/62daf9743d37c54e13366e396241a476908ecad7/mbd_musicgen_32khz.th
huggingface_tiny/hub/models--facebook--musicgen-small/blobs/37d256b525d4117f8bbf790ab448a8e9f4746cd401900fe1ae72e154b1513a30
huggingface_tiny/hub/models--facebook--musicgen-small/blobs/830fe5771e2835cbd305f3ffdda22d3ff38718fbbe8274bd19dc203265de7244
huggingface_tiny/hub/models--facebook--musicgen-small/refs/main
huggingface_tiny/hub/models--facebook--musicgen-small/snapshots/4c8334b02c6ec4e8664a91979669a501ec497792/compression_state_dict.bin
huggingface_tiny/hub/models--facebook--musicgen-small/snapshots/4c8334b02c6ec4e8664a91979669a501ec497792/state_dict.bin
huggingface_tiny/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/added_tokens.json
huggingface_tiny/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/chat_template.jinja
huggingface_tiny/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/special_tokens_map.json
huggingface_tiny/hub/models--t5-base/.no_exist/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/tokenizer_config.json
huggingface_tiny/hub/models--t5-base/blobs/4e28ff6ebdf584f5372d9de68867399142435d9a
huggingface_tiny/hub/models--t5-base/blobs/41911369be79611d82d152725113e66206bd7b79
huggingface_tiny/hub/models--t5-base/blobs/a90903540cc02cbeb7ff9f823f1a80eb778c7e22426a0e620b01c77a5ec8f5b4
huggingface_tiny/hub/models--t5-base/blobs/c360f5f4046ca9d7f2ea7d098126ecabc596fbe5
huggingface_tiny/hub/models--t5-base/refs/main
huggingface_tiny/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/config.json
huggingface_tiny/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/model.safetensors
huggingface_tiny/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/spiece.model
huggingface_tiny/hub/models--t5-base/snapshots/a9723ea7f1b39c1eae772870f3b547bf6ef7e6c1/tokenizer.json
api/output/music_8de55909-8e15-46aa-9adf-7be4f13b6911.wav
api/output/music_9bb7471b-e067-4cf3-a4dc-ec3a7427f01c.wav
api/output/music_9e632a09-5f56-404d-99cb-8a0e2ee8197e.wav
api/output/music_94bf353d-667a-4ee7-8b18-9d025348143f.wav
api/output/music_20250630035625.wav
api/output/music_8de55909-8e15-46aa-9adf-7be4f13b6911.wav
api/output/music_9bb7471b-e067-4cf3-a4dc-ec3a7427f01c.wav
api/output/music_9e632a09-5f56-404d-99cb-8a0e2ee8197e.wav
api/output/music_94bf353d-667a-4ee7-8b18-9d025348143f.wav
api/output/music_20250630035625.wav
